<h2>Sign Up!</h2>

<form action=<%= users_url %> method="POST">
 	<label for="user_name">Username</label>
	<input type="text" id="user_name" name="user[user_name]">
	<br>

 	<label for="password">Password</label>
	<input type="password" id="password" name="user[password]">
	<br>

	<input type="submit" value="Sign Up">

</form>